---
layout: default
title: Index of coauthors
permalink: /coauthors/
---
<h1 class="page-heading">List of coauthors</h1>
<p>
    Here's a list of all my coauthors.  Drop me a note if your 
    web address needs to be updated.
</p>
<div class="all-coauthors">
    <ul class="author-list">
        {% for author in site.data.authors %}
            {% if author[0] != site.my_authortag %}
                <li>
                    {% if author[1].url %}
                        <a href="{{author[1].url}}">{{author[1].name}}</a>
                    {% else %}
                        {{author[1].name}}
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>