---
layout: default
permalink: /pure-colloquium-historical/
title: Pure Maths Colloquium
---

<h1 class="page-heading">Pure Maths Colloquium - Past Terms</h1>

<div class="seminar-home-blurb">
    <p>This page lists the talks in the St Andrews Pure Maths Colloquium 
    from (recent) previous terms.  The schedule for the current term
        is <a href="/pure-colloquium/">here</a>.
        For a list of talks from before S1 2018, see
        <a href="http://www.mcs.st-and.ac.uk/~miket/PureColl/pure_coll_index_old.html">this page</a>.
    </p>
</div>

{% for term in site.data.seminarterms reversed %}
    {% unless term.tag == site.seminar_current_term %}
        {% assign talks = site.seminartalks | where: "talkterm", term.tag %}
        <h2 id="{{term.tag}}">{{term.name}}</h2>
        <div class="seminar-home-talks-list">
            <table>
                {% for talk in talks %}
                    <tr>
                        <td class="seminar-talk-date">
                            <a href="{{talk.url}}">{{talk.talkdate}}</a>
                        </td>
                        <td class="seminar-talk-speaker">
                            {% if talk.speakerurl %}
                                <a href="{{talk.speakerurl}}">{{talk.speaker}}</a>
                            {% else %}
                                {{talk.speaker}}
                            {% endif %}
                            {% if talk.speakershortinst %}
                                <span class="seminar-talk-speaker-inst">{{talk.speakershortinst}}</span>
                            {% endif %}
                        </td>
                        <td class="seminar-talk-title">
                            <a href="{{talk.url}}">{{talk.talktitle}}</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endunless %}
{% endfor %}