---
layout: cv
permalink: /CV/
title: "Louis Theran - Curriculum Vitae"
shorttitle: CV
headerdata:
    url: http://theran.lt/
    email: louis.theran@aalto.fi
    contacturl: http://theran.lt/contact/
    department: Aalto Science Institute
    institution: Aalto University
    institutionaddr: 00076 Aalto, Finland
    pictureurl: /assets/images/louis-home-page-185.jpg
degrees:
    - 
        degree: Ph.D.
        year: 2010
        month: 9
        subject: Computer Science
        institution: University of Massachusetts, Amherst
        notes: 
            - "Dissertation: Problems in generic combinatorial rigidity: sparsity, sliders, and emergence of components"
            - "Advisor: Ileana Streinu"
    -
        degree: M.S.
        year: 2007
        subject: Computer Science
        institution: University of Massachusetts, Amherst
        month: 9
    -
        degree: B.S.
        year: 2006
        subject: Computer Science and Mathematics
        month: 2
        institution: University of Massachusetts, Amherst
        notes: 
            - "Honors: cum laude"
academicpositions:
    -
        title: Aalto Science Institute Fellow
        institution: Aalto University
        institutioncity: Helsinki
        institutionurl: http://aalto.fi/
        department: Aalto Science Institute
        departmenturl: http://asci.aalto.fi/
        start: 6.2014
        end: 5.2017
        notes:
            - Affiliated member of Department of Information and Computer Science
            - "Cofunded by AKA project COALESCE (PI: Petteri Kaski)"
    - 
        title: Post-doctoral researcher
        institution: Freie Universität Berlin
        institutionurl: http://fu-berlin.de/
        department: AG Diskrete Geometrie
        departmenturl: http://www.mi.fu-berlin.de/en/math/groups/discgeom/index.html
        start: 9.2011
        end: 6.2014
        notes:
            - "Supported by the ERC Advance Grant Project SD-Models (PI: Günter M. Ziegler)"
    -
        title: Research Assistant Professor 
        institution: Temple University
        institutionurl: http://temple.edu/
        institutioncity: Philadelphia
        department: Department of Mathematics
        departmenturl: http://math.temple.edu/
        start: 7.2009
        end: 8.2011
        notes:
            - Post-doctoral appointment
            - "Supported by NSF CDI-I grant DMR 0835586 (PIs: Igor Rivin and M. M. J. Treacy)"
    - 
        title: Research assistant 
        institution: University of Massachusetts, Amherst
        institutionurl: http://umass.edu/
        department: Department of Computer Science
        departmenturl: http://cs.umass.edu/
        start: 9.2004
        end: 6.2009
        notes:
            - Graduate student appointment
            - Supervised by Ileana Streinu
industrypositions:
    -
        title: Senior Software Engineer
        employer: Nokia Research Center
        employercity: Boston
        start: 2000
        end: 2001
    -
        title: Software Engineer
        employer: Nokia Research Center
        employercity: Boston
        start: 1999
        end: 2000
    -
        title: Software Engineer
        employer: Nokia Wireless Software Solutions
        employercity: Boston
        start: 1998
        end: 1999
    -
        title: Software Engineer
        employer: Open Software Foundation Research Institute
        employercity: Cambridge
        start: 1996
        end: 1998
courses:
    -
        title: Computational geometry
        credits: 5
        institution: Aalto University
        comment: master's course
        term: Fall 2014
    -
        title: Rigidity theory
        hours: 4
        institution: Freie Universität Berlin
        comment: Discrete Geometry III module
        term: Spring 2012
    -
        title: Graph theory
        credits: 4
        institution: Temple University
        comment: master's course
        term: Spring 2010
    -
        title: Algorithms
        credits: 4
        institution: Temple University
        comment: PhD core course
        term: Fall 2010
    - 
        title: Discrete and computational geometry
        credits: 4
        institution: Temple University
        comment: undergraduate capstone course
        term: Spring 2009
    - 
        title: Combinatorics
        credits: 4
        institution: Temple University
        comment: undergratuate elective
        term: Fall 2009
seminars:
    - 
        title: Tilings
        hours: 2
        institution: Freie Universität Berlin
        comment: undergraduate ProSeminar
        term: Summer 2014
    - 
        title: Triangle tiling
        hours: 2
        comment: undergraduate ProSeminar
        institution: Freie Universität Berlin
        term: Winter 2014
    - 
        title: Sphere packing
        hours: 2
        institution: Freie Universität Berlin
        comment: undergraduate ProSeminar
        term: Summer 2013
dissertationcommittees:
    -
        student: Anita Liebenau
        institution: Freie Universität Berlin
        department: Berlin Mathematical School
        thesistitle: Orientation Games and Minimal Ramsey Graphs
        year: 2013
    -
        student: Michael Dobbins
        institution: Temple University
        department: Department of Mathematics
        thesistitle: Representations of polytopes
        year: 2011
bachelortheses:
    - 
        student: Lauri Tervonen
        institution: Aalto University
        thesistitle: Strategies in the game Cordial Minuet
        subject: Computer Science
        myrole: Advisor
        year: 2015
    -
        student: Katherina Mölter
        institution: Freie Universität Berlin
        thesistitle: Alternating-sign matrices, square ice, and the Yang-Baxter equation
        subject: Mathematics
        myrole: 2nd examiner
        year: 2014
    - 
        student: Jennifer Friedrichs
        institution: Freie Universität Berlin
        thesistitle: Über volumenstarre Fachwerke
        subject: Mathematics
        myrole: 2nd examiner
        year: 2014
    - 
        student: Matthew Berardi
        institution: Temple University
        subject: Mathematics
        topic: Symmetric Laman graphs
        myrole: supervisor
        year: 2011
    - 
        student: Olivia Coplan
        institution: Bryn Mawr College
        subject: Mathematics
        topic: Connectivity of hypothetical zeolite structures
        myrole: supervisor
        year: 2011
    -
        student: Garrett Wright
        institution: Temple University
        subject: Mathematics
        topic: GPGPU linear algebra with Python
        myrole: supervisor
        year: 2011
departmentalservice:
    -
        note: Graduate student representative
        department: Department of Computer Science
        institution: University of Massachusetts, Amherst
        year: 2007–2008
    -
        note: Department steward, Graduate Employee Organization (student assistant's union)
        department: Department of Computer Science
        institution: University of Massachusetts, Amherst
        year: 2006
conferenceorganization:
    -
        event: Special session on Discrete and Computational Geometry at the AMS Joint Math Meetings
        month: 1
        year: 2013
        myrole: Co-organizer
    -
        event: Fall Workshop on Computational Geometry (FWCG'07)
        year: 2007
        myrole: Local organization (web site)
    -
        event: Fall Workshop on Computational Geometry (FWCG'06)
        year: 2006
        myrole: Local organization
journalrefereeing:
    - Advances in Math.
    - Proc. of the London Math. Soc.
    - "Discrete & Computational Geometry"
    - Philosophical Trans. of the Royal Soc., A
    - European Journal of Combinatorics
    - ACM Trans. on Sensor Networks
    - SIAM J. Discrete Math.
conferencerefereeing:
    - Symposium on Computational Geometry (SoCG) (sub-referee)
    - Fall Workshop on Computational Geometry (FWCG) (sub-referee)
    - Intl. Sym. Algorithms and Computation (ISAAC) (sub-referee)
funding:
    -
        instrument: AScI Thematic Program
        title: Challenges in Large Geometric Structures and Big Data
        year: 2014–2017
        notes:
            - PI and coordinator
    -
        instrument: NSF/KOSEF East Asia and Pacific Summer Institutes Fellowship
        award: NSF OISE-0611980
        year: 2006
        notes: 
            - Supported a Summer visit to KAIST
---

<h1>Curriculum vitae: Louis Theran</h1>
<div class="cv-header">
    <img alt="Picture of Louis" class="picture" src="{{page.headerdata.pictureurl}}">
    <div class="address">
        <div class="department">{{page.headerdata.department}}</div>
        <div class="inst">{{page.headerdata.institution}}</div>
        <div class="instaddr">{{page.headerdata.institutionaddr}}</div>
    </div>
    <div class="contacts">
        <div class="email"><a href="mailto:{{page.headerdata.email}}">{{page.headerdata.email}}</a></div>
        <div class="homepage"><a href="{{page.headerdata.url}}">{{page.headerdata.url}}</a></div>
        <div class="contacturl"><a href="{{page.headerdata.contacturl}}">All contact data</a></div>
    </div>
</div>

<div class="cv-main">
<h2>Research interests</h2>
<div class="research-interests">
I'm interested in discrete geometry, combinatorics, machine learning, 
algorithms, and the interactions between these areas.  I work on
theoetical and applied problems.  (See <a href="/bio/">here</a>
for a more detailed description of current projects.)
</div>

<h2>Education</h2>
<div class="education">
    {% for deg in page.degrees %}
        <div class="deg">
            <span class="deg-date">{% if deg.month %}{{deg.month}}.{% endif %}{{deg.year}}</span>:
            <span class="deg-title">{{deg.degree}}</span>,
            <span class="deg-subject">{{deg.subject}}</span>,
            <span class="deg-inst">{{deg.institution}}</span>.
            <div class="deg-note-wrapper">
                {% if deg.notes %}
                    {% for note in deg.notes %}
                        <div class="deg-note">{{note}}</div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>

<h2>Academic positions</h2>
<div class="academic-positions">
    {% for pos in page.academicpositions %}
        <div class="position">
                <div class="pos-yearplace">
                    <span class="pos-year">{{pos.start}}–{% if pos.end %}{{pos.end}}{% else %}present{% endif %}:</span>
                    <span class="pos-title">{{pos.title}}</span>, 
                    <span class="pos-inst">{% if pos.institutionurl %}<a href="{{pos.institutionurl}}">{{pos.institution}}</a>{% else %}{{pos.institution}}{% endif %}{% if pos.institutioncity %} <span class="pos-instcity">({{pos.institutioncity}})</span>{% endif %}
                </div>
                <div class="pos-dept">
                    {% if pos.departmenturl %}
                       <a href="{{pos.departmenturl}}">{{pos.department}}</a>
                    {% else %}
                        {{pos.department}}
                    {% endif %}
                </div>
                {% if pos.notes %}
                    {% for note in pos.notes %}
                        <div class="pos-note">{{note}}</div>
                    {% endfor %}
                {% endif %}
        </div>
    {% endfor %}
</div>

<h2>Industry positions</h2>
<div class="industry-positions">
    {% for pos in page.industrypositions %}
        <div class="position">
                <div class="pos-yearplace">
                    <span class="pos-year">{{pos.start}}–{% if pos.end %}{{pos.end}}{% else %}present{% endif %}:</span>
                    <span class="pos-title">{{pos.title}}</span>, 
                    <span class="pos-empl">{% if pos.employerurl %}<a href="{{pos.employerurl}}">{{pos.employer}}</a>{% else %}{{pos.employer}}{% endif %}{% if pos.employercity %}<span class="pos-emplcity"> ({{pos.employercity}})</span>{% endif %}
                </div>
                <!-- Right now this is dead code, don't run it-->
                <!-- {% if pos.notes %}
                    {% for note in pos.notes %}
                        <div class="pos-note">{{note}}</div>
                    {% endfor %}
                {% endif %} -->
        </div>
    {% endfor %}
</div>

<h2>Funding</h2>
<div class="funding-wrapper">
    {% for f in page.funding %}
        <div class="funding-item">
            <div class="instrument-year">
                <span class="funding-year">{{f.year}}:</span>
                <span class="instrument">{{f.instrument}}</span>
                {% if f.title %}<span class="funding-title">{{f.title}}</span>{% endif %}
                {% if f.award %}({{f.award}}){% endif %}
            </div>
            <div class="funding-item-notes">
                {% for note in f.notes %}
                    <div class="funding-note">
                        {{note}}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>

<h2>Publications</h2>
<div class="publications">
    {% include journalpapers.html %}
    {% include conferencepapers.html %}
    {% include preprints.html %}
</div>

<h2>Teaching</h2>
<div class="teaching">
    <h2>Courses</h2>
    <div class="courses-wrapper">
        {% for course in page.courses %}
            <div class="course">
                <div class="course-yearname">
                    <span class="course-term">{{course.term}}:</span>
                    <span class="course-title">{{course.title}}</span>
                    {% if course.credits %}<span class="course-crhr">({{course.credits}} cr)</span>{% elsif course.hours %}<span class="course-crhr">({{course.hours}} hr)</span>{% endif %}
                </div>
                <div class="course-instcomment">
                    <span class="course-inst">{{course.institution}}</span>{% if course.comment %}, <span class="course-comment">{{course.comment}}</span>{% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    
    <h2>Seminars</h2>
    <div class="seminars-wrapper">
        {% for sem in page.seminars %}
            <div class="seminar">
                <div class="seminar-yearname">
                    <span class="seminar-term">{{sem.term}}:</span>
                    <span class="seminar-title">{{sem.title}}</span>
                    {% if sem.credits %}<span class="seminar-crhr">({{sem.credits}} cr)</span>{% elsif sem.hours %}<span class="seminar-crhr">({{sem.hours}} hr)</span>{% endif %}
                </div>
                <div class="seminar-instcomment">
                    <span class="seminar-inst">{{sem.institution}}</span>{% if sem.comment %}, <span class="seminar-comment">{{sem.comment}}</span>{% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<h2>Service</h2>
<div class="service">
    <h2>Dissertation committees</h2>
    <div class="disscomm-wrapper">
        {% for comm in page.dissertationcommittees %}
            <div class="disscomm">
                <div class="disscomm-yearname">
                    <span class="disscomm-year">{{comm.year}}:</span>
                    <span class="disscomm-student">{{comm.student}}</span>,
                    <span class="disscomm-inst">{{comm.institution}}</span>,
                                            <span class=discom-dept>{{comm.department}}</span>
                </div>
                <div class="disscomm-title">
                    Thesis title: <span class="thesis-title">{{comm.thesistitle}}</span>
                </div>
            </div>
        {% endfor %}
    </div>
        
    <h2>Bachelor theses and projects</h2>
    <div class="bachelortheses-wrapper">
        {% for bt in page.bachelortheses %}
            <div class="bachelorthesis">
                <div class="bt-yearname">
                    <span class="bt-year">{{bt.year}}:</span>
                    <span class="bt-student">{{bt.student}}</span>,
                    <span class="bt-inst">{{bt.institution}}</span>,
                                            <span class=bt-subject>{{bt.subject}}</span>
                </div>
                <div class="bt-titletopic">
                    {% if bt.thesistitle %}
                        Thesis title: <span class="bt-title">{{bt.thesistitle}}</span>
                    {% elsif bt.topic %}
                        Project topic: <span class="bt-topic">{{bt.topic}}</span>
                    {% endif %}
                </div>
                <div class="bt-myrole">
                    My role: <span class="bt-role">{{bt.myrole}}</span>
                </div>
            </div>
        {% endfor %}
    </div>
        
    <h2>Conference organization</h2>
    <div class="conforg-wrapper">
        {% for conf in page.conferenceorganization %}
            <div class="conference">
                <div class="conf-yearevent">
                    <span class="conf-year">{% if conf.month %}{{conf.month}}.{% endif %}{{conf.year}}:</span>
                    <span class="conf-event">{{conf.event}}</span>
                </div>
                <div class="conf-myrole">
                    <span class="conf-role">{{conf.myrole}}</span>
                </div>
            </div>
        {% endfor %}
    </div>
    
    <h2>Departmental service</h2>
    <div class="deptservice-wrapper">
        {% for svc in page.departmentalservice %}
            <div class="service">
                <span class="service-year">{{svc.year}}:</span>
                <span class="service-note">{{svc.note}}</span>,
                <span class="service-dept">{{svc.department}}</span>,
                <span class="service-inst">{{svc.institution}}</span>
            </div>
        {% endfor %}
    </div>
        
    <h2>Refereeing</h2>
    <div class="refereeing-wrapper">
        <div class="ref-journals">
            <h2>Journals</h2>
            {% for journal in page.journalrefereeing %} 
                <span class="ref-journal">{{journal}}</span>
            {% endfor %}
        </div>
        
        <div class="ref-conferences">
            <h2>Conferences</h2>
            {% for conference in page.conferencerefereeing %} 
                <span class="ref-conference">{{conference}}</span>
            {% endfor %}
        </div>
    </div>
</div>
</div> <!-- end of cv-main -->
<div class="cv-footer">
    <div class="cv-date">This version: {{site.time | date: "%F"}}</div>
    <div class="cv-footerline">Most recent: <a href="{{page.url}}">{{site.url}}{{page.url}}</a></div>
</div>
