---
layout: default
---

<div class="home">
    {% include picture.html %}
    
    {% include aboutme.html %}

    <div class="home-research"><!-- ugly hack -->

    <h1 class="page-heading">Research</h1>
        <p>
             My research papers by type in approximate 
             reverse chronological order.
             click on the titles to see abstracts and get the 
             full text.  You can also see a 
             <a href="/coauthors/">list of my coauthors</a>.  Jump to:
             <a href="#journal-papers">journal papers</a>; 
             <a href="#conference-papers">conference papers</a>;
             <a href="#preprints">recent preprints</a> (the newest stuff is here).
         </p>

      {% include journalpapers.html %}
  
      {% include conferencepapers.html %}
  
      {% include preprints.html %}
    </div>
</div>
