<div class="home-page-picture">
    <img alt="Picture of Louis" class="picture" src="/assets/images/your-picture.jpg">
    <div class="info">
        <div class="name">Your Name</div>
        <div class="job">Your Title</div>
        <div class="workplace">
            <a href="http://workplace/">Dept 1</a> and 
            <a href="http://workplace/">Dept 1</a>
        </div>
        <div class="employer">
            <a href="http://university.edu/">Employer University</a>
        </div>
    </div>
</div>