<div class="home-page-picture">
    <img class="picture" src="/assets/images/louis-home-page.jpg">
    <basic-info class="info">
        <name class="name">Louis Theran</name>
        <job class="job">Aalto Science Fellow</job>
        <workplace class="workplace">
            <a href="http://asci.aalto.fi/">AScI</a> and 
            <a href="http://ics.aalto.fi/">ICS</a>
        </workplace>
        <employer class="employer">
            <a href="http://aalto.fi/">Aalto University</a>
        </employer>
    </basic-info>
</div>