<div class="home-page-picture">
    <img alt="Picture of Louis" class="picture" src="/assets/images/louis-home-page-185.jpg">
    <div class="info">
        <div class="name">Louis Theran</div>
        <div class="job">Lecturer</div>
        <div class="workplace">
            <a href="http://st-andrews.ac.uk/maths/">School of Mathematics and Statistics</a>
        </div>
        <div class="employer">
            <a href="http://st-andrews.ac.uk/">University of St Andrews</a>
        </div>
    </div>
</div>
