--- 
layout: default 
---

<div class="seminar-talk">
    <h1 class="seminar-title">Pure Maths Colloquium: {{page.speaker}}</h1>
    <div class="seminar-blurb">
        <p>
            This talk is part of the Pure Maths Colloquium at the University of St Andrews. Check out our upcoming talks at
            <a href="/pure-colloquium/">
                https://theran.lt/pure-colloquium/</a>.
        </p>
    </div>
    <div class="seminar-talk-coords">
        <table>
            <tr>
                <td class="seminar-talk-place">Where:</td>
                <td class="seminar-talk-place">
                {% if page.talkplaceurl%}
                <a href="{{page.talkplaceurl}}">{{page.talkplace}}</a>
                {% else %}
                {{page.talkplace}}
                {% endif %}
                </td>
            </tr>
            <tr>
                <td class="seminar-talk-time">When:</td>
                <td class="seminar-talk-time">{{page.talkdate}} @ {{page.talktime}}</td>
            </tr>
        </table>
    </div>
    <div class="seminar-talk-data">
        <table>
            <tr>
                <td class="seminar-talk-speaker">Speaker:</td>
                <td class="seminar-talk-speaker">
                    {% if page.speakerurl %}
                    <a href="{{page.speakerurl}}">{{page.speaker}}</a>
                    {% else %} {{page.speaker}} {% endif %} {% if page.speakerinst %}
                    <span class="seminar-talk-speaker-inst">{{page.speakerinst}}</span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td class="seminar-talk-title">Title:</td>
                <td class="seminar-talk-time">{{page.talktitle}}</td>
            </tr>
        </table>
    </div>
    <div class="seminar-talk-abstract">
        {{page.content}}
    </div>
</div>
