---
layout: default
---

<div class="seminar-talk">
    <h1 class="seminar-title">Large Structures Seminar: {{page.speaker}}</h1>
    <div class="seminar-blurb">
        <p>
            This talk is part of the AScI Thematic program
            "<a href="http://largestructures.asci.aalto.fi/">Challenges in 
                Large Geometric Structures and Big Data</a>" seminar.
            Check out our upcomning talks at 
            <a href="http://theran.lt/largestructures-seminar">
                http://theran.lt/largestructures-seminar</a>.
        </p>
        {% if page.dinnertime %}
        <p>
            We will meet up at {{page.dinnertime}} at 
            <a href="{{page.dinnerurl}}">{{page.dinnerplace}}</a> for a 
            seminar dinner.
        </p>
        {% endif %}
    </div>
    <div class="seminar-talk-coords">
        <table>
            <tr>
                <td class="seminar-talk-place">Where:</td>
                <td class="seminar-talk-place">{{page.talkplace}}</td>
            </tr>
            <tr>
                <td class="seminar-talk-time">When:</td>
                <td class="seminar-talk-time">{{page.talkdate}} @ {{page.talktime}}</td>
            </tr>
        </table>
    </div>
    <div class="seminar-talk-data">
        <table>
            <tr>
                <td class="seminar-talk-speaker">Speaker:</td>
                <td class="seminar-talk-speaker">
                    {% if page.speakerurl %}
                        <a href="{{page.speakerurl}}">{{page.speaker}}</a>
                    {% else %}
                        {{page.speaker}}
                    {% endif %}
                    {% if page.speakerinst %}
                        <span
                            class="seminar-talk-speaker-inst">{{page.speakerinst}}</span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td class="seminar-talk-title">Title:</td>
                <td class="seminar-talk-time">{{page.talktitle}}</td>
            </tr>
        </table>
    </div>
    <div class="seminar-talk-abstract">
        {{page.content}}
    </div>
</div>